{% extends "layout.html" %}
{% block title %}

{% endblock %} 

{% block content %}
        {% if (list|length)!=0 %}
        <table id = "all-course">    
            <tr>
                <th></th>
                <th>Code</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>            
        
            {% for i in list  %}      
             <tr>      
                <td>{{ loop.index }}</td>
                <td><a href="/course/{{i.course_id}}">{{i.course_code}}</a></td>
                <td>{{i.course_name}}</td>
                <td>{{i.course_description}}</td>
                <td>
                    <a href="/course/{{i.course_id}}/update" type="button">Update</a>
                </td>
                <td>
                    <a href="/course/{{i.course_id}}/delete" type="button">✖ Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h2>Course List</h2>
        <p>No courses found.Add the courses now!</p>
        {% endif %}
        <a href="/course/create">➕Add Course</a>        
{% endblock %}