{% extends "layout.html" %}
{% block title %}

{% endblock %} 

{% block content %}
<h1>Add Course</h1>
    <form action="/course/create" method="POST" id="create-course-form">
        <div>
            <label>Code:</label>
            <input type="text" name="code" required />
        </div>
            
        <div>
            <label>Name:</label>
            <input type="text" name="c_name" required />
        </div>
        <div>
            <label>Description:</label>
            <input type="text" name="desc" />
        </div>
        <div>
            <input type="submit" value = "Submit">
        </div>
        </form>
{% endblock %}