{% extends "layout.html" %}
{% block title %}
{% endblock %} 

{% block content %}
 
        <h1 align ="center">Student Details</h1>
        <table id = "personal-details">
            <tr>
                <th>Roll Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
            <tr>
                <td>{{s.roll_number}}</td>
                <td>{{s.first_name}}</td>
                <td>{{s.last_name}}</td>
                <td>{{s.email}}</td>
            </tr>
        </table>
        <h1 align="center">Enrollment list</h1>
        <table id = "enroll-table">
            <tr>
                <th></th>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Course Description</th>
                <th>Actions</th>
            </tr>
            {% for i in list %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{i.course_code}}</td>
                <td>{{i.course_name}}</td>
                <td>{{i.course_description}}</td>
                <td><a href="/student/{{s.student_id}}/withdraw/{{i.course_id}}">Withdraw</a></td>
            </tr>
            {% endfor %}
        </table>       
 
{% endblock %}